body {
    margin: 0;
    padding: 0;
    background-color: gray;
    background-size: cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
img{
  border-radius: 8px;
  width: 200px;
  height: 200px;

}